 header{
                text-align: center;
                background-color: black;
                color:white;
            }
            article header{
                 text-align: center;
                background-color: green;
                color:white;
            }
            
            h2{
                 text-align: center;
                background-color: black;
                color:white;
                
            }
            
            #titulo{
                background-color: aqua;
                font-size: 22px;
                color: black;
            }
            
            .producto{
                background-color: bisque;
            }
            a{
                background-color: black;
                color: white;
                
            }
            a :hover{
                background-color: red;
                color:white;
                 font-size: 20px;
                animation-delay:1s;
            }
            article:odd{
                
            }
            article :even{
                
            }